//variables
$clr-primary: rgb(221, 103, 103);
$bg-clr: rgb(240, 233, 230);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-20deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.container {
  min-height: 100vh;
  background-color: cornsilk;
  margin: 0 auto;
  @include flexCenter(column);

  .select {
    display: grid;
    place-items: center;
    margin: 0 auto;

    label {
      margin-top: 2em;
      font-size: 2em;
      color: $clr-primary;
      font-weight: bold;
      text-align: center;
    }

    .custom-select {
      position: relative;
      margin-top: 2em;
      min-width: 80%;
      max-width: 100%;

      select {
        width: 100%;
        font-size: 1em;
        padding: 0.5em 3em 0.5em 1em;
        background: $bg-clr;
        color: $clr-primary;
        border: 0;
        outline: none;
        cursor: pointer;
      }

      .custom-arrow {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: $clr-primary;
        height: 100%;
        width: 2.5em;
        pointer-events: none;
        cursor: pointer;
      }

      .custom-arrow::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-left: 1em solid transparent;
        border-right: 1em solid transparent;
        border-top: 1em solid $bg-clr;
        top: 50%;
      }
    }
  }

  .info-container {
    @include flexCenter(column);
    animation: transitionIn 2s;
    margin: 4em;
    width: 70%;

    img {
      max-height: 15em;
      max-width: 80%;
    }

    table,
    td,
    th {
      width: 15em;
      height: 3em;
      margin: 0 auto;
      box-sizing: border-box;

      th,
      td {
        border: 1px solid $bg-clr;
        background-color: $clr-primary;
        opacity: 0.8;
        border-collapse: collapse;
      }

      th {
        text-transform: capitalize;
      }

      td {
        text-align: center;
      }
    }
  }

  .info {
    .info-box {
      margin-block: 3em;
      background-color: $bg-clr;
      border: 5px solid $bg-clr;
      padding: 0.5em;

      h4 {
        color: $clr-primary;
      }

      p {
        padding-block: 2em;
        text-align: justify;
      }
    }
    .additional p {
      padding-top: 0.5em;
      font-style: italic;
    }
  }

  @media screen and(min-width: 960px) {
    .info-container {
      .info {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 55% [second] 45%;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        .info-box {
          margin-inline: 2em;
        }

        table,
        th,
        td,
        tr {
          height: 2em;
          width: 70%;
        }
      }
    }
  }
}
