*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: cornsilk;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .select {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.container .select label {
  margin-top: 2em;
  font-size: 2em;
  color: #dd6767;
  font-weight: bold;
}

.container .select .custom-select {
  position: relative;
  margin-top: 2em;
  width: 100%;
}

.container .select .custom-select select {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 3em 0.5em 1em;
  background: #f0e9e6;
  color: #dd6767;
  border: 0;
  outline: none;
}

.container .select .custom-select .custom-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #dd6767;
  height: 100%;
  width: 2.5em;
  pointer-events: none;
  cursor: pointer;
}

.container .select .custom-select .custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #f0e9e6;
  top: 50%;
}

.container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em;
  width: 70%;
}

.container .info-container img {
  max-height: 15em;
  max-width: 80%;
}

.container .info-container table,
.container .info-container td,
.container .info-container th {
  width: 15em;
  height: 3em;
  margin: 0 auto;
  border: 1px solid #dd6767;
}

.container .info-container table th,
.container .info-container td th,
.container .info-container th th {
  text-transform: capitalize;
}

.container .info-container table td,
.container .info-container td td,
.container .info-container th td {
  text-align: center;
}

.container .info .info-box {
  margin-block: 3em;
  background-color: #f0e9e6;
  border: 5px solid #f0e9e6;
  padding: 0.5em;
}

.container .info .info-box h4 {
  color: #dd6767;
}

.container .info .info-box p {
  padding-block: 2em;
  text-align: justify;
}

.container .info .additional p {
  padding-top: 0.5em;
  font-style: italic;
}

@media screen and (min-width: 960px) {
  .container .info-container .info {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [first] 55% [second] 45%;
        grid-template-columns: [first] 55% [second] 45%;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
  }
  .container .info-container .info .info-box {
    margin-inline: 2em;
  }
  .container .info-container .info table,
  .container .info-container .info th,
  .container .info-container .info td,
  .container .info-container .info tr {
    height: 2.5em;
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */