*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: cornsilk;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .select {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.container .select label {
  margin-top: 2em;
  font-size: 2em;
  color: #dd6767;
  font-weight: bold;
}

.container .select .custom-select {
  position: relative;
  margin-top: 2em;
  width: 100%;
}

.container .select .custom-select select {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 3em 0.5em 1em;
  background: #f0e9e6;
  color: #dd6767;
  border: 0;
  outline: none;
}

@media screen and (min-width: 760px) {
  .container .select .custom-select select {
    font-size: 1.5em;
  }
}

.container .select .custom-select .custom-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #dd6767;
  height: 100%;
  width: 3em;
  pointer-events: none;
}

.container .select .custom-select .custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #f0e9e6;
  top: 50%;
}

.container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em;
  width: 80%;
}

@media screen and (min-width: 760px) {
  .container .info {
    width: 50%;
  }
}

.container .info img {
  max-height: 15em;
  max-width: 80%;
}

.container .info table,
.container .info td,
.container .info th {
  width: 15em;
  height: 3em;
  margin: 0 auto;
  border: 1px solid #dd6767;
}

.container .info table th,
.container .info td th,
.container .info th th {
  text-transform: capitalize;
}

.container .info table td,
.container .info td td,
.container .info th td {
  text-align: center;
}

.container .description,
.container .temperament,
.container .additional {
  margin-block: 3em;
  background-color: #f0e9e6;
  border: 5px solid #f0e9e6;
  padding: 0.5em;
}

.container .description h4,
.container .temperament h4,
.container .additional h4 {
  color: #dd6767;
}

.container .description p,
.container .temperament p,
.container .additional p {
  padding-block: 2em;
  text-align: justify;
}

.container .description .additional p,
.container .temperament .additional p,
.container .additional .additional p {
  padding-top: 0;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */