//variables
$clr-primary: rgb(221, 103, 103);
$bg-clr: rgb(240, 233, 230);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}
html {
  height: 100%;
}
.container {
  min-height: 100vh;
  background-color: cornsilk;
  margin: 0 auto;
  @include flexCenter(column);
  .info {
    @include flexCenter(column);
    width: 80%;
    @media screen and(min-width: 760px) {
      width: 30%;
    }
    img {
      max-height: 15em;
      max-width: 80%;
    }
    table,
    td,
    th {
      width: 15em;
      height: 3em;
      margin: 0 auto;
      border: 1px solid $clr-primary;
      th {
        text-transform: capitalize;
      }
      td {
        text-align: center;
      }
    }
  }
  .description,
  .temperament,
  .additional {
    margin-block: 3em;
    background-color: $bg-clr;
    border: 5px solid $bg-clr;
    padding: 0.5em;
    h4 {
      color: $clr-primary;
    }
    p {
      padding-block: 2em;
      text-align: justify;
    }
  }
  .additional p {
    padding-top: 0;
    font-style: italic;
  }
}
